*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url(bg-4.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    transition: ease-in-out 2s;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family:  'Poppins', sans-serif;
    
    
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}



.nav-links li{
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.hamburger{
	display: none;
	cursor: pointer;
}

.hamburger div{
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

footer{
    display: flex;
    width: 90%;
    height: 10vh;
    margin-left:5% ;
    align-items: center;
    bottom: 0;
    position: fixed;
    justify-content: space-between;
}

.jyp-logo{
    display: block;
    width: 110px;
    height: 48px;
    background: url("jyplogo.png") no-repeat;
    background-position: center;
}

.social-media a{
    display:inline-flex;
	 width: 40px;
	 height: 40px;
	 background: #2c3e50;
	 color: white;
	 margin: 10px;
	 border-radius: 50%;
	 justify-content: center;
	 align-items: center;
	 transition: 0.4s;
	 font-size: 1.5em;	 
	 line-height: 50px;
	
     
}

@media only screen and (max-width: 1024px){
    .nav-links{
        width: 70%;
       
    }

}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
      
      background-image: url("bg-3.jpg");
      transition:   5s ease ;
      
    }

    .social-media a{
        white-space: nowrap;
        margin-right: -10px;

        
    }

    .nav-links{
        display: flex;
        height: 32vh;
        top: 8vh;
        position: absolute;
        left: 10px;
        align-items: center;
        flex-direction: column;
        width: 30%;
        line-height: 65px;
        
         
        
       
       
        
    }
    
    .nav-links li{
        opacity: 0;
    }
    

    .hamburger{
        display: inline-block;
    }
}

.nav-active{
    display: block;
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
opacity:0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}












